{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 80,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml", "*.json"],
      "options": { "tabWidth": 2 }
    },
    {
      "files": ["*.md"],
      "options": { "tabWidth": 2 }
    }
  ]
}
